/*? COMMON */
* {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
/*! COMMON */
.row-32 {
  padding: 64px 16px;
}

.row-64 {
  padding: 64px 16px;
}

.center {
  margin: 0 auto;
}

#Wapper {
  width: 100%;
}
/* END */

/*! HEADER */

#Header {
  top: 0;
  left: 0;
  width: inherit;
  position: fixed;
  background-color: #000;
}

#Header .nav {
  height: 46.5px;
}

#Header .nav-items {
  display: inline-block;
}

#Header .nav-item {
  height: 46.5px;
  padding: 12px 24px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

#Header .nav-item:hover {
  background-color: #ccc;
}

#Header .nav-item:hover a {
  color: #000;
  font-weight: 500;
}

#Header .nav-item:hover i {
  color: #000;
}

#Header .nav-item > a {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
}

#Header .nav-item > i {
  color: #fff;
}

#Header .sub-nav {
  top: 0;
  left: 0;
  min-width: 160px;
  margin-top: 46.5px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  position: absolute;
  display: none;
}

#Header .sub-nav li {
  list-style-type: none;
  padding: 8px 16px;
}

#Header .sub-nav li:hover {
  background-color: #ccc;
}

#Header .nav-item:hover .sub-nav {
  display: block;
}

#Header .search-icon {
  height: 46.5px;
  float: right;
  box-sizing: border-box;
  margin: auto 0;
}

#Header .search-icon:hover {
  background-color: #f44336;
}

#Header .search-icon i {
  color: #fff;
  line-height: 1.5;
  padding: 12px 24px;
}

/* END */

/*! CONTENT */

#Slider {
  padding-top: 50%;
  margin-top: 46.5px;
  background: url(/assets/img/Slider/chicago.jpg) top center / cover no-repeat;
  background-clip: border-box;
}

/* END */
